
body        
{           
            font-family: "Helvetica", "Arial", sans-serif;
            font-size: 0.875em;
}
h1          {font-size:3.5em; margin-top:5px; margin-bottom:5px;}
h2          {font-size:2.5em;}
h3          {font-size:1.9em;}
p           {line-height:1.5;}

a           {text-decoration:none;}
a:link      {color:#2BBBD8;}
a:visited   {color:#2BBBD8;}
a:focus     {color:#527578;}
a:hover     {color:black;}
a:active    {color:red;}

img, video
{
    max-width:100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto 
    
}

form    
{
    margin:auto;
    position:relative;
    max-width:100%;
    
    font-weight: bold;
    color: #06A2CB;
    text-decoration: none;
}

fieldset 
{
    border-radius: 8px;
}

#intressen 
{
    width:100%;
    height:250px;
    display:block;
    border-radius:5px;
    font-size:1.25em;
}

legend 
{
    text-align:right;
}

input[type="submit"]
{
    height:75px;
    width:150px;
    background:#06A2CB;
    color:white;
    font-size: 0.75em;
    border-radius: 15px;
    margin-top:10px;
    display:block;
    margin-left: auto;
    margin-right: auto 
    
}

input[type="submit"]:hover 
{
    background:#FCD271;
    color:#09C;
}

.checkbox label 
{  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 35px;  
    margin-right: 15px;  
    margin-bottom:20px;
    margin-top:20px;
}

input[type="checkbox"]
{
    display: none;
}

.checkbox label:before 
{  
    content: "";  
    display: inline-block;  
  
    width: 30px;  
    height: 30px;  
  
    margin-right: 10px;  
    position: absolute;  
    left: 0;  
    bottom: 1px;  
    background-color: #aaa;  
}

.checkbox label:before 
{  
    border-radius: 3px;  
}

input[type=checkbox]:checked + label:before 
{  
    content: "\2713";  
    font-size: 30px;  
    color: #f3f3f3;  
    text-align: center;  
}

input , select   
{
    width:100%;
    display:block;
    height: 45px;
    font-size:1.25em;
    border-radius:8px;
}
                                                /* CONTAINER */
#container
{
    max-width: 100% ;
    margin-left:auto;
    margin-right:auto;
    
}
                                                /* HEADER */
#header 
{
    background-image:url('pics/logo.png');
    background-repeat:no-repeat;
    background-position:center ;
    text-align:center;
    color:#D74B4B;
    overflow:auto;
    background-color:#475F77;
    max-height:100%;
    margin-top:5px;
    margin-bottom:5px;
}
                                                /* CONTENT */
#content
{
    padding:5px;
    background-color:#DCDDD8;
    font-size:1.35em;
    max-width: 100% ;
}
#content table, th, td
{
    border-collapse:collapse;
    border: 3px solid #06A2CB;
    text-align:center;
    background-color:white;
}
#content .green
{
    color:#DCDDD8;
    background-color:green;
    
}
#content .yellow
{
    color:black;
    background-color:yellow;
    
}
#content table
{
    max-width: 100% ;
    margin-left:auto;
    margin-right:auto;
    width:90px;
    
}
#content th
{
    background-color:#2BBBD8;
    padding:5px;
}
#content td
{
    padding:5px;
}
#content .right
{
    float:right;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
}
#content .left
{
    float:left;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
}
#content .icon
{
    background-image: url('pics/dpad.jpg');
    background-repeat: no-repeat;
    padding-left: 28px;
    display: block;
    background-size:23px 23px;
}
#content ol,ul,d
{
    list-style:none;
    
}
                                                /* NAV */
#nav
{
    margin-top:5px;
    margin-bottom:5px;
    max-width: 100%;
}

#nav ul
{
    list-style:none;
    margin-left:-40px;
}
#nav li
{
    
    background-color:#06A2CB;
    margin-top:10px;
}
#nav a
{
    color:black;
    display:block;
    padding:25px;
    text-align:center;
    font-size:1.75em;
    
    
}


                                                /* FOOTER */
#footer
{
    background-color:#D74B4B;
    text-align: center ;
    max-width:100%;
}
.clearfix
{
    clear:both;
}