

/*  Colors
    background content:#DCDDD8
    background nav:#06A2CB
    background header:#DCDDD8;
    text header:#DCDDD8
    background footer:#D74B4B
     #102E37
*/

body 
{
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 0.875em;
}
h1
{
    font-size:3em;
}
h2
{
    font-size:2em;
}
h3
{
    font-size:1.4em;
}
p
{
    font-size:1em;
}
a 
{
    text-decoration:none;   
}
a:link {color:#2BBBD8;}
a:visited {color:#2BBBD8;}
a:focus {color:#527578;}
a:hover {color:black;}
a:active {color:red;}
#container
{
    width: 960px ;
    margin-left: auto ;
    margin-right: auto ;
}
#header 
{
    color:#DCDDD8;
    background-color:#475F77;
    height:150px;
}
#content
{
    background-color:#DCDDD8;
    margin-left: 165px;
}
#content ol,ul
{
    list-style:none;
}
#nav
{
    margin-top:5px;
    float: left;
    width: 160px;
}
#nav p
{
    list-style:none;
    margin-left:5px;
}
#nav ul
{
    list-style:none;
    margin-left:-45px;
}
#nav li
{
    background-color:#06A2CB;
    margin:5px;
}
#nav a
{
    color :black;
    text-decoration:none;
    display:block;
    padding:10px;
}
#nav a:hover
{
    background-color:#FCD271;
    
}
#nav .active a 
{
    background-color:red;
}
#footer
{
    background-color:#D74B4B;
    text-align: center ;
    clear: both ;
}